html,
body {
  height: 100%;
}

.title {
  font-family: 'Quicksand', sans-serif;
  color: #eaeaea;
  font-size: 2rem;  
}

#root {
  position: relative;
}

.App {
  text-align: center;
  height: 100%;
}


#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  position: fixed;
  bottom: 0;
  width:100%;
}