.date-container {
  display:flex;
  justify-content: center;;
}

.cell-going {
  background-color: #7a5ad8;
}

.main {
  background-color: white;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
}