.container-form {
    background-color: white;
}

.inputsGroup {
    display: flex;
    flex-direction: column;
    display: inline-block;
}

.input-and-button {
    display: flex;
    align-items: center;
    /* margin: 4px; */
}